venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.swp
*~
*.db
*.csv
*.ipynb_checkpoints
.DS_Store

*.virtual_documents
*.vscode


.Rproj.user

# Profiling results
*.mem
*.pb.gz
